[Unit]
Description=Raspberry Pi Heating Control Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/OneDrive/Dokument/Hus/RaspberryPi
ExecStart=/usr/bin/python3 /home/pi/OneDrive/Dokument/Hus/RaspberryPi/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
